<main>
    <section class="primeiraTela" id="primeiraTela">
        <div class="container">

        <div class="navbar">
            <div class="logodiv">
                <img class="logo" src="icons/RP-logo.png" alt="Logo">
            </div>
                <div class="botoesdiv">
                    <button class="navbtn">Sobre mim</button>
                    <button class="navbtn">Habilidades</button>
                    <button class="navbtn">Projetos</button>
                    <button class="navbtnn">ME CONTRATE</button>
                </div>
        </div>
        <div class="left">
            <div class="left-text">
                <h2 class="ola">Olá, eu sou</h2>
                <h1 class="nome">Renato Presoto</h1>
                <h4 class="subtitle">Desenvolvedor de software / Cientista de dados</h4>
            </div>

            <div class="icons">
                <div class="icon">
                    <a href="https://github.com/renato-presoto-dev">
                        <img class="iconImage" src="icons/github.png" alt="GitHub">
                    </a>
                </div>
                <div class="icon">
                    <a href="https://linkedin.com/in/renato-presoto">
                        <img class="iconImage" src="icons/linkedin.png" alt="Linkedin">
                    </a>
                </div>
                <div class="icon">
                    <a href="https://www.contate.me/5515997614886">
                        <img class="iconImage" src="icons/whatsapp.png" alt="WhatsApp">
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
               <img class="foto" src="/images/Renato-semborda-virado.png" alt="Renato Presoto">
        </div>
    </div>
    <div class="bottom">
        <h2 class="bottom-title">TRANSIÇÃO DE CARREIRA</h2>
        <p class="bottom-desc">Atualmente, estou em uma jornada de transição de carreira, trazendo a profundidade analítica da Psicologia para o universo dinâmico da Tecnologia. Minha formação como Psicólogo pela UNESP não é apenas um diferencial, mas um acelerador: ela me proporcionou uma base sólida em empatia e comunicação estruturada, que são fundamentais para entender as necessidades reais do usuário final (UX) e colaborar de forma eficaz em equipes ágeis.</p>
        <a class="bottom-desc" href="">| Leia mais |</a>
    </div>
    </section>
    <section class="seguntaTela" id="segundaTela">
        <div class="divTitulo">
            <p class="sobremim">SOBRE MIM</p>
        </div>
        <div class="divsobredesc">
            <p class="sobredesc">
                Meu nome é Renato Presoto e eu sou Desenvolvedor de Software, formado como Desenvolvedor de Sistemas pela ETEC, e atualmente estudante de Ciência de Dados pela Univesp, sou apaixonado por soluções e automações, buscando sempre atingir a tradução mais proxima de nossas complexidades e problemas em programas com poucas brechas e muitas facilidades.
            </p>
        </div>
        <div class="sobremain">
            <div class="divsobretitles">
                <p class="sobretitles">DESIGN</p>
                <p class="sobredesc"></p>
            </div>

            <div class="mid">
                <div class="divsobretitles">
                    <p class="sobretitles">DESENVOLVIMENTO</p>
                    <p class="sobredesc"></p>
                </div>
                <div class="divsobretitles">
                    <p class="sobretitles">UX/UI</p>
                    <p class="sobredesc"></p>
                </div>
            </div>

            <div class="divsobretitles">
                <p class="sobretitles">MANUTENÇÃO</p>
                <p class="sobredesc"></p>
            </div>
        </div>
    </section>
</main>