<main>
    <section class="primeiraTela" id="primeiraTela">
        <div class="container">

        <div class="navbar">
            <div class="logodiv">
                <img src="" alt="Logo">
            </div>
                <div class="botoesdiv">
                    <button class="navbtn">SOBRE MIM</button>
                    <button class="navbtn">HABILIDADES</button>
                    <button class="navbtn">PROJETOS</button>
                    <button class="navbtnn">ME CONTRATE</button>
                </div>
        </div>
        <div class="left">
            <h2>Olá, eu sou</h2>
            <h1>Renato Presoto</h1>
            <h4>Desenvolvedor Full Stack / Cientista de Dados</h4>
    
            <div class="icons">
                <div class="icon">
                    <a href="https://github.com/renato-presoto-dev">
                        <img class="iconImage" src="icons/github.png" alt="GitHub">
                    </a>
                </div>
                <div class="icon">
                    <a href="https://linkedin.com/in/renato-presoto">
                        <img class="iconImage" src="icons/linkedin.png" alt="Linkedin">
                    </a>
                </div>
                <div class="icon">
                    <a href="https://www.contate.me/5515997614886">
                        <img class="iconImage" src="icons/whatsapp.png" alt="WhatsApp">
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <img class="foto" src="/images/profile-renato-krita2.png" alt="Renato Presoto">
        </div>
    </div>
    <div class="bottom">
        <h2>CARREIRA</h2>
        <p>descrição sobre a carreira</p>
    </div>
    </section>
</main>