.main{
    display: flex;
    width: 100vw;
}
#primeiraTela{
    display: flex;
    flex-direction: column;
    width: 100vw; 
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}
.logodiv{
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.navbar{
    display: flex;
    width: 100vw;
    height: 100px;
    z-index: 100;
    position: absolute;
}
.container{
    display: flex;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}
.botoesdiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
    gap: 18px;
}
.left{
    display: flex;
    flex-direction: column;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 60vw;
    margin: 0;
    padding: 0;
    border: 0;
}
.right{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 50vw;
}
.foto{
    width: 500px;
    height: 750px;
}